.buttons__group {
    border-bottom:1px;
    border-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    height: 64px;
    margin-top: 24px;
}

.button__height{ 
    height: 40px;
}

.input__container{
    margin-bottom: 24px;
}

.button__content{
    font-size: 12px;
}